@model SIMAMUS.GUI.Models.TipoConsulta

@{
    ViewBag.Title = "DetailsAdministrador";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>TipoConsulta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreConsulta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreConsulta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditAdministrador", new { id = Model.IdTipoConsulta }) |
    @Html.ActionLink("Regresar a la lista.", "IndexAdministrador")
</p>
