@model SIMAMUS.GUI.Models.Especialidad

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Especialidad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Especialidad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreEspecialidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdEspecialidad }) |
    @Html.ActionLink("Regresar a la lista.", "Index")
</p>
