@model IEnumerable<SIMAMUS.GUI.Models.Persona>

<br /> <br />

@using (Html.BeginForm("Consulta", "RegistroResultados", FormMethod.Get))
{
    @Html.TextBox("SearchValue") <input type="submit" value="Search" />

}
@if (Model != null)
{

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Cédulas</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr style="color:red">
                    <td colspan="3"> No se encontro el ID digitado. Por favor regístrelo para continuar!</td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdPersona</td>
                        <td>@item.Nombre</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}