@model SIMAMUS.GUI.Models.Radiologo

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Esta seguro que desea eliminar al siguiente radiologo</h3>
<div>
    <h4>Radiologo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Contrasenna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Contrasenna)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista.", "Index")
        </div>
    }
</div>
